<div class="intro">
  <div class="header">
    <div class="container-fluid">
      <h1 class="flyer-title pull-xs-left">Coworking Night #{{ night_id }}</h1>
      <h2 class="flyer-subtitle pull-xs-left pull-sm-right">{{ date | date: 'MMM d, yyyy' }} •  AL.com  •  6‑11pm </h2>
      <div class="clearfix"></div>
      <span>If you’ve come to GSD (Get Sh*t Done), then you’ve come to the right place! Attend our events, or invite your team and collaborate, or grab a booth and work solo. Coworking Night is a FREE resource in Huntsville designed to get the minds and talent of our city into motion: learning, creating, and executing ideas into reality.</span>
    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 134.423" class="header-flourish">
    <path class="fill-primary" fill="#555" d="M800 0H0v46.674l449.008 87.75"/>
    <path opacity=".3" d="M449.008 134.423V0H0v46.674"/>
  </svg>
  <div class="cover-image">
</div>

	<div class="container-fluid">
    <div class="row row-margin-sm organizer-row">
      <a class="organizer-credit-link col-sm-5" href="http://openhsv.com" target="_blank">
        <svg class="organizer-graphic" xmlns="http://www.w3.org/2000/svg" width="799.674" height="219.628" viewBox="0 0 799.674 219.628">
          <path class="fill-secondary" fill="#555" d="M0 181.655l210.173 37.973 589.5-37.973V0H95.137L0 45.69"/>
          <path opacity=".3" d="M95.136 181.655V0L0 45.69V173.53"/>
          <path opacity=".5" d="M0 181.655v-8.123l95.136 8.123h704.538l-589.5 37.973"/>
          <text transform="translate(222.675 42.35)" fill="#FFF" font-family="Montserrat" font-size="26">
            Organized by:
          </text>
          <text transform="translate(222.675 108.14)" fill="#FFF" font-family="Montserrat" font-size="72">
            OpenHuntsville
          </text>
          <text transform="translate(118.05 160.014)" fill="#FFF" font-family="Montserrat" font-size="30">
            Create your FREE profile at openhsv.com
          </text>
          <g fill="#FFF">
            <path d="M151.13 52.678h22.023V74.7H151.13zM186.276 18.884h19.88V39.56h-19.88zM116.9 18.884h21.11V39.56H116.9zM116.9 87.824h21.11v20.317H116.9zM186.276 87.824h19.88v20.317h-19.88zM116.9 52.678h21.11V74.7H116.9zM151.132 87.824h22.02v20.317h-22.02zM151.13 18.884h22.023V39.56H151.13zM186.276 52.678h19.88V74.7h-19.88z"/>
          </g>
        </svg>
      </a>
      <p class="col-xs-12 pull-xs-right col-sm-7 organizer-memo">Create your <strong>FREE</strong> Open Huntsville profile: <strong><a href="http://www.openhsv.com">www.openhsv.com</a></strong></p>
    </div>
  </div>
</div>

<div ng-if="!draw" class="msg-login">
  <div class="container-fluid">
    <p>Facebook won't let us show you the events until you log in.</p>
    <button type="button" class="btn btn-lg btn-primary mb-lg" ng-click="IntentLogin()">
      <i class="icon icon-facebook"></i>
      <span>Login with Facebook</span>
    </button>
  </div>
</div>

<div ng-if="draw">
  <div class="container-fluid">
    <div class="row list-events">
      <div class="col-sm-6">
        <div ng-repeat="event in left" class="event">
          <div class="event-detail" event-detail></div>
        </div>
      </div>

      <div class="col-sm-6">
        <div ng-repeat="event in right" class="event">
          <div class="event-detail" event-detail></div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="row row-margin-xs hidden-xs-down row-photofooter">
    <div class="col-sm-1-5">
      <img src="flyer/img/footer-photo-1.jpg" alt="coworking night candid"/>
    </div>
      <div class="col-sm-1-5">
      <img src="flyer/img/footer-photo-2.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="flyer/img/footer-photo-3.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="flyer/img/footer-photo-4.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="flyer/img/footer-photo-5.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="flyer/img/footer-photo-6.jpg" alt="coworking night candid"/>
    </div>
      <div class="col-sm-1-5">
      <img src="flyer/img/footer-photo-17.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="flyer/img/footer-photo-8.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="flyer/img/footer-photo-9.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="flyer/img/footer-photo-10.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="flyer/img/footer-photo-11.jpg" alt="coworking night candid"/>
    </div>
      <div class="col-sm-1-5">
      <img src="flyer/img/footer-photo-12.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="flyer/img/footer-photo-13.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="flyer/img/footer-photo-14.jpg" alt="coworking night candid"/>
    </div>
    <div class="col-sm-1-5">
      <img src="flyer/img/footer-photo-15.jpg" alt="coworking night candid"/>
    </div>
  </div>


  <div class="footnote text-center">
    <div class="container-fluid">
      <span>A big thanks to <a href="http://al.com" target="_blank">AL.com</a> and <a href="http://www.thewildbeancc.com/" target="_blank">Wild Bean Coffee</a> for supporting Coworking Night!</span>
    </div>
  </div>
</footer>